/*  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		MOBILE STYLES
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media only screen and (min-device-width : 320px) and (max-device-width : 569px) {

  #main {
		width: 100%;
		margin: 0 auto;
		padding: 120pt 0 0 0;
	}
	
	aside, #content {
		float: none;
		width: 90%;
		padding: 10pt 5%;
	}
	
	aside {
		h1 {
			height: auto;
			line-height: 1em;
			position: absolute;
			top: 25pt;
			left: 10pt;
		}
		.byline {
			position: absolute;
			top: 75pt;
			left: 15pt;
			font-size: 14px;
		}
	}
	
	#content {
		border-top: none;
		article {
			p, ul, ol, blockquote, .source { font-size: 11pt; }
			h2 { font-size: 17px; }
			h3 { font-size: 15px; }
			img { width: 95%; }
		}
	}

}