<section class="about">
				
	<h1><a href="/">Valhalla Island</a></h1>
				
	<p class="blurb">By <span><a href="http://jimwhimpey.com">Jim Whimpey</a></span> from Brisbane Australia.</p> 
					
	<p class="blurb">Find my short updates at <a href="http://twitter.com/jimwhimpey">Twitter</a> and contact 
	me using <a href="mailto:jimwhimpey@me.com">email</a>. I make <a href="http://www.tumblr.com/theme/391">
	Tumblr themes</a>, <a href="http://darkroom.heroku.com">Darkroom</a> and <a href="http://frugalrouleur.com">Frugal Rouleur</a>, run 
	<a href="http://solidbase.tumblr.com/"> A Solid Base</a> and have a day job at 
	<a href="http://abc.net.au/news">ABC News</a>. Here's <a href="{{ root_url }}/history">
	a concise history</a> of my life.</p>
				
</section>