<section class="favourites">
	<h2>My Personal Favourite Posts</h2>				
	<ul>
		<li><a href="{{ root_url }}/blog/2012/tim-riley/">Money, Stress and The Cloud</a></li>
		<li><a href="{{ root_url }}/blog/2012/names/">Just a Name</a></li>
		<li><a href="{{ root_url }}/blog/2012/raw-nerve/">Raw Nerve</a></li>
		<li><a href="{{ root_url }}/blog/2012/really-managing-email-realistically/">Being Realistic About Email</a></li>
		<li><a href="{{ root_url }}/blog/2012/the-ultimate-iphone/">A Better iPhone, iPad, iPod and Mac Home Stereo</a></li>
		<li><a href="{{ root_url }}/blog/2012/the-burning-house/">The Burning House Project</a></li>
		<li><a href="{{ root_url }}/blog/2012/the-future/">The Future of Computing</a></li>
		<li><a href="{{ root_url }}/blog/2011/13495833628">Overworking Culture</a></li>
		<li><a href="{{ root_url }}/blog/2009/160357037">Minimalism Versus Simplicity</a></li>
		<li><a href="{{ root_url }}/blog/2009/106195325">Butler</a></li>
		<li><a href="{{ root_url }}/blog/2009/141205452">My Bike Accident</a></li>
	</ul>
</section>