<section class="favourites">
	<h2>My Personal Favourite Posts</h2>				
	<ul>
		<li><a href="{{ root_url }}/blog/2011/13495833628">Overworking Culture</a></li>
		<li><a href="{{ root_url }}/blog/2009/160357037">Minimalism Versus Simplicity</a></li>
		<li><a href="{{ root_url }}/blog/2009/292829693">Asking for Money</a></li>
		<li><a href="{{ root_url }}/blog/2009/271313749">Revisiting My Ideal House Plan</a></li>
		<li><a href="{{ root_url }}/blog/2009/266183205">Selling</a></li>
		<li><a href="{{ root_url }}/blog/2009/86628016">Resistance to Change</a></li>
		<li><a href="{{ root_url }}/blog/2009/89185008">In This Economy</a></li>
		<li><a href="{{ root_url }}/blog/2009/91713857">Notebooks</a></li>
		<li><a href="{{ root_url }}/blog/2009/85365814">Complaining Versus Changing Behaviour</a></li>
		<li><a href="{{ root_url }}/blog/2009/104122098">Marketing Dollar</a></li>
		<li><a href="{{ root_url }}/blog/2009/106195325">Butler</a></li>
		<li><a href="{{ root_url }}/blog/2009/141205452">My Bike Accident</a></li>
	</ul>
</section>