<section class="favourites">
	<h2>My Personal Favourite Posts</h2>				
	<ul>
		<li><a href="http://valhallaisland.com/post/13495833628">Overworking Culture</a></li>
		<li><a href="http://log.valhallaisland.com/post/160357037">Minimalism Versus Simplicity</a></li>
		<li><a href="http://log.valhallaisland.com/post/292829693">Asking for Money</a></li>
		<li><a href="http://log.valhallaisland.com/post/271313749">Revisiting My Ideal House Plan</a></li>
		<li><a href="http://log.valhallaisland.com/post/266183205">Selling</a></li>
		<li><a href="http://log.valhallaisland.com/post/86628016">Resistance to Change</a></li>
		<li><a href="http://log.valhallaisland.com/post/89185008">In This Economy</a></li>
		<li><a href="http://log.valhallaisland.com/post/91713857">Notebooks</a></li>
		<li><a href="http://log.valhallaisland.com/post/85365814">Complaining Versus Changing Behaviour</a></li>
		<li><a href="http://log.valhallaisland.com/post/104122098">Marketing Dollar</a></li>
		<li><a href="http://log.valhallaisland.com/post/106195325">Butler</a></li>
		<li><a href="http://log.valhallaisland.com/post/141205452">My Bike Accident</a></li>
	</ul>
</section>