{% unless page.no_header %}
  <header>
    {% if index %}
			{% unless post.title == 'No Title' %}
				{% if post.external-url %}
	        <h2 class="entry-title"><a href="{{ post.external-url }}">{{ post.title }} &rarr;</a></h2>
	      {% else %}
	        <h2 class="entry-title">{{ post.title }}</h2>
	      {% endif %}
			{% endunless %}
    {% else %}
			{% unless page.title == 'No Title' %}
				{% if page.external-url %}
	        <h2 class="entry-title"><a href="{{ page.external-url }}">{{ page.title }} &rarr;</a></h2>
	      {% else %}
	        <h2 class="entry-title">{{ page.title }}</h2>
	      {% endif %}
			{% endunless %}
    {% endif %}
  </header>
{% endunless %}
{% if index %}
  <div class="entry-content">{{ content | excerpt }}</div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
	<p class="date"><a href="{{ root_url }}{{ post.url }}"><span>&#9875;</span> {% include post/date.html %}{{ time }}</a></p> 
  {% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
		</footer>
  {% endif %}
{% else %}
<div class="entry-content">{{ content }}</div>
{% endif %}
